ups # Avoid including ups folder
EA Avenir # Avoid including Event Assembler
*.sav
*.sgm
*.gba
*.exe
*.ups
_textentries/*.txt
devkitPro/
Install Text Data.event
Text Definitions.event
textdump.event
Animation Assembler/
Battle Palettes/*.png
Spells/Spells/**/*.png
