
# Global file types to ignore.
*.sav
*.sgm
*.gba
*.sym
!sym
*.wav
*.ups
*.SNA
*.nlz
*.avi
*.mp4
*.lnk
desktop.ini
*.ss*
*.token

# Base directories to ignore.
save/
screenshots/
states/

# Definition-related ignores.
Definitions/Definitions.event
Definitions/Skills.s

# CSV-related ignores.
CSV/Nightmare/
CSV/Tables/*.event
CSV/Tables/**/*.event

# Map-related ignores.
Maps/*.event
Maps/*.dmp

# Music-related ignores.
Music/WAVs
Music/*.event
!Music/MasterMusicInstaller.event
!Music/drumfix_fe8.event

# Text-related ignores.
.TextEntries/
InstallTextData.event
TextDefinitions.event
Text/ParseDefinitions.txt

# Graphics-related ignores.
AnimationAssembler/
CSACreator/
Graphics/BattlePalettes/cache
Graphics/Portraits/*.dmp
Graphics/MapSprites/*.dmp
Graphics/ClassCards/*.dmp
Graphics/WorldMap/*.dmp
Graphics/ItemIcons/*.dmp
!Graphics/VanillaPortraitTable.dmp

# Misc ignores.
FE-CLib-master
