[submodule "C:\\Users\\Snek\\Desktop\\FE\\Legends_of_Avenir\\Buildfile\\ASM\\SkillSystem_FE8"]
	path = C:\\Users\\Snek\\Desktop\\FE\\Legends_of_Avenir\\Buildfile\\ASM\\SkillSystem_FE8
	url = https://github.com/Snakey11LoA/SkillSystem_FE8.git
