
# Global file types to ignore.
*.sav
*.sgm
*.gba
*.sym
!sym
*.wav
*.ups
*.SNA
*.nlz
*.avi
*.mp4
*.lnk
desktop.ini
*.ss*
*.token

# Base directories to ignore.
save/
screenshots/
states/

# Update/release related batch scripts.
UPDATE.bat
UPDATEPrivate.bat
UPDATEPublic.bat

# Definition-related ignores.
Definitions/Definitions.event
Definitions/Skills.s

# CSV-related ignores.
CSV/Nightmare/
CSV/Tables/*.event
CSV/Tables/**/*.event

# Map-related ignores.
Maps/*.event
Maps/*dmp

# Music-related ignores.
Music/WAVs
Music/*.event
!Music/_Master Music Installer.event
!Music/drumfix_fe8.event

# Text-related ignores.
.TextEntries/
InstallTextData.event
TextDefinitions.event
Text/ParseDefinitions.txt

# Graphics-related ignores.
Animation Assembler/
CSA Creator/
Animation Assembler/
Graphics/Battle Palettes/*.dmp
Graphics/Portraits/*.dmp
Graphics/Map Sprites/*.dmp
Graphics/Class Cards/*.dmp
Graphics/WorldMap/*.dmp
!Graphics/Vanilla Portrait Table.dmp

# Misc ignores.
FE-CLib-master
